@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
    min-height: 100%;
    color: #fff;
    /*    background-image: url("http://isaacsuttell.com/img/justine.jpg");*/
    background-size: cover;
    background-position: center;
    font-family: Raleway, sans-serif;
}

p,
h1,
h2 {
    color: black;
}



/*
#title {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 20px;
    letter-spacing: 0.1em;
    z-index: 100;
    color: #fff;
}
*/
